@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

main {
    padding: 2rem;
}

.ALL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
    text-transform: uppercase;
}
.id {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
.nombre {
    font-size: 20px;
    margin-top: 10px;
  }
.pokemon:hover {
    transform: translateY(-10px);
  }
  
.imagen img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
}
