@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --type-bug: #9fdf7a;
    --type-dark: #443634;
    --type-dragon: #b465e9;
    --type-electric: #fffb03;
    --type-fairy: #eea8d3;
    --type-fighting: #853131;
    --type-fire: #f77f10;
    --type-flying: #baf0f0;
    --type-ghost: #8f76b1;
    --type-grass: #62b632;
    --type-ground: #cfc750;
    --type-ice: #3ef3db;
    --type-normal: #9c9c9c;
    --type-poison: #5f1f85;
    --type-psychic: #d64a80;
    --type-rock: #8f8638;
    --type-steel: #999999;
    --type-water: #3287f7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
ul {
    list-style-type: none;    
}
header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
    background-color: #f12929dc;  
    padding: 10px 20px; 
    position: relative;
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100vmax;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    margin: 10px;
}
.search-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
}
.nav-container{
    margin-top: 20px;
}
.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    
}
.nav {
    display: none; 
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
} 
.nav.active{
    display: flex;
}


.btn-header {
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
    border: 2px solid transparent;
}
.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
    border-color: white;
}
main {    

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(Pokeball-wallpaper.jpg);
    background-size: 120%;
} 
.ALL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon {
    width: 300px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
    text-transform: uppercase;
}
.id {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.nombre {
    font-size: 20px;
    margin-top: 10px;
  }
.pokemon:hover {
    transform: translateY(-10px);
  }
  
.imagen img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
}
.tipos{
    display: flex;
    justify-content: center;
}
.tipo{
    margin: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 20px;
}
#flecha{
    max-width: 1.5rem;    
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transition: transform 0.5s;
    opacity: 0.8;
}
#flecha.active{
    transform: rotate(180deg);
}
#ver-todos{
    background-color: gray;
    color: white;
}
#bug{
    background-color: var(--type-bug);
}
#dark{
    background-color: var(--type-dark);
    color: white;
}
#dragon{
    background-color: var(--type-dragon);
}
#electric{
    background-color: var(--type-electric);
}
#fairy{
    background-color: var(--type-fairy);
}
#fighting{
    background-color: var(--type-fighting);
    color: white;
}
#fire{
    background-color: var(--type-fire);
}
#flying{
    background-color: var(--type-flying);
}
#ghost{
    background-color: var(--type-ghost);
}
#grass{
    background-color: var(--type-grass);
}
#ground{
    background-color: var(--type-ground);
}
#ice{
    background-color: var(--type-ice);
}
#normal{
    background-color: var(--type-normal);
    color: white;
}
#poison{
    background-color: var(--type-poison);
    color: white;
}
#psychic{
    background-color: var(--type-psychic);
    color: white;
}
#rock{
    background-color: var(--type-rock);
    color: white;
}
#steel{
    background-color: var(--type-steel);
}
#water{
    background-color: var(--type-water);
}