@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --type-bug: #9fdf7a;
    --type-dark: #443634;
    --type-dragon: #b465e9;
    --type-electric: #fffb03;
    --type-fairy: #eea8d3;
    --type-fighting: #853131;
    --type-fire: #f77f10;
    --type-flying: #baf0f0;
    --type-ghost: #8f76b1;
    --type-grass: #62b632;
    --type-ground: #cfc750;
    --type-ice: #3ef3db;
    --type-normal: #9c9c9c;
    --type-poison: #5f1f85;
    --type-psychic: #d64a80;
    --type-rock: #8f8638;
    --type-steel: #999999;
    --type-water: #3287f7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body{
    background-image: url(Pokeball-wallpaper.jpg);
    background-size: 120%;
}
button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
ul {
    list-style-type: none;    
}
header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
    background-color: #f12929dc;  
    padding: 10px 20px; 
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100vmax;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    margin: 10px;
}
.search-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
}
.nav-container{
    margin-top: 20px;    
}
.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 15px;
}
.nav {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}
.nav.active {
    max-height: 500px; /* Altura máxima del menú cuando esté desplegado */
    transition: max-height 1.5s ease-in;
}
.btn-header {
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
    border: 2px solid transparent;
}
.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .25);
    border-color: white;
}
main {    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
} 
.ALL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon {
    width: 300px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
    text-transform: uppercase;
}
.id {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.nombre {
    font-size: 20px;
    margin-top: 10px;
  }
.pokemon:hover {
    transform: translateY(-10px);
  }
  
.imagen img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
}
.tipos{
    display: flex;
    justify-content: center;
}
.tipo{
    margin: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 20px;
}
#flecha{
    max-width: 1.5rem;    
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transition: transform 0.5s;
    opacity: 0.8;
    cursor: pointer;
}
#flecha.active{
    transform: rotate(180deg);
}
.img-volver{
    max-width: 20px;
}
.volver{
    position: fixed;
    bottom: 20px; 
    right: 20px;
    background-color: #e5e2e7;
    border: 2px solid transparent;
    border-radius: 100vmax;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    font-weight: 600;    
    padding: 10px 20px; 
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s,transform .3s;
    opacity: 0;
    visibility: hidden; 
}
.volver.show{
    opacity: 1;
    visibility: visible;
}
.volver:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
    border-color: white;
}
#ver-todos{
    background-color: gray;
    color: white;
}
#bug{
    background-color: var(--type-bug);
}
#dark{
    background-color: var(--type-dark);
    color: white;
}
#dragon{
    background-color: var(--type-dragon);
}
#electric{
    background-color: var(--type-electric);
}
#fairy{
    background-color: var(--type-fairy);
}
#fighting{
    background-color: var(--type-fighting);
    color: white;
}
#fire{
    background-color: var(--type-fire);
}
#flying{
    background-color: var(--type-flying);
}
#ghost{
    background-color: var(--type-ghost);
}
#grass{
    background-color: var(--type-grass);
}
#ground{
    background-color: var(--type-ground);
}
#ice{
    background-color: var(--type-ice);
}
#normal{
    background-color: var(--type-normal);
    color: white;
}
#poison{
    background-color: var(--type-poison);
    color: white;
}
#psychic{
    background-color: var(--type-psychic);
    color: white;
}
#rock{
    background-color: var(--type-rock);
    color: white;
}
#steel{
    background-color: var(--type-steel);
}
#water{
    background-color: var(--type-water);
}